*{
    margin:0;
    border:0;
    box-sizing: border-box;
}

/* header style */
.head{
    display: flex;
    border:1px solid black;
    width:100%;
    height: 90px;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
#logoimg{
    height: 50px;
    width:50px;
}
.head > a{
    color:white;
    text-decoration: none;
}
.head > a:hover{
    border:1px solid red;
    padding: 10px;
    border-radius: 5px;
    background-color:red; 
    box-sizing: border-box;
}

/* title  style */
.title{
    width:100%;
    height: 80px;
    color: red;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;

}

/* table container  style */

#table_container{
    position: relative;
    height:auto;
}
#getbtn1{
    position: absolute;
    border:2px solid blue;
    left:43%;
    top:2%;
    color:white;
    font-size: 15px;
    border-radius: 23px;
    padding: 10px;
    background-color: blue;
}
#btn,#btn23{
    border:1px solid red;
    padding:5px;
    color:white;
    background-color: red;

}
#table{
    position: absolute;
    top:70px;
    left:20%;
}
