*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height:580px;
    background-color:papayawhip;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.8px solid black;
}
.singin_container{
    background-color: white;
    border: 1.8px solid lavender;
    border-radius: 5px;
    width:25%;
    height: 450px;
    position: relative;
}
.singin_container:hover{
    background-color:honeydew;
    border: 1.8px solid rgba(0, 0, 0, 0.782);
}
.title{
    position: absolute;
    color:black;
    font-size:17px;
    font-family: 'Roboto', sans-serif;
    top:15px;
    left:40%;
}
input[type=email]{
    background-color:#0deb15;
    position: absolute;
    top:70px;
    left:35px;
    border:0px solid black;
    color:white;
    font-size: 16px;
    padding: 19px 30px;
    border-radius:30px;
    height: 20px;
    width: 250px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
input[type=password]{
    position: absolute;
    background-color:#0deb15;
    border: 0px solid black;
    color:white;
    font-size: 16px;
    padding: 19px 30px;
    border-radius:30px;
    height: 20px;
    width: 250px;
    box-sizing: border-box;
    top:140px;
    left:35px;
    font-family: 'Roboto', sans-serif;
}
.forget_pass{
    color:red;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 190px;
    right: 55px;
    cursor:pointer;
}

input[type=submit]{
    background-color:rgba(0, 0, 255, 0.718);
    position: absolute;
    top: 245px;
    left: 35px;
    border: 0px solid black;
    color:white;
    font-size: 16px;
    padding: 19px 30px;
    border-radius:30px;
    height: 20px;
    width: 250px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor:pointer;
}
input[type=submit]:hover{
    background-color:blue;
}

.signup{
    color:black;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top:310px;
    left:99px;
    cursor:pointer;
    text-decoration: none;
}
.choice{
    position: absolute;
    top:340px;
    left:150px;
}
.hori1{
    position: absolute;
    top:350px;
    left:0px;
    width:140px;
}
.hori2{
    position: absolute;
    top:350px;
    right:0px;
    width:140px;
}
.logo{
    position: absolute;
    top: 388px;
    left: 85px;
    letter-spacing: 5px;
}

@media only screen and (max-width: 600px) {

    .container{
        width: 800px;
        height:1935px;
        position: relative;
        background-color: white;
    }
    .singin_container{
        position: absolute;
        top:450px;
        background-color: honeydew;
        width:590px;
        height: 900px;
        border: 1px solid lavender;
        border-radius: 5px;
    }
    .title{
        position: absolute;
        color:black;
        font-size:55px;
        font-family: 'Roboto', sans-serif;
        top:25px;
        left:35%;
    }
    input[type=email]{
        background-color:#0deb15;
        position: absolute;
        top:130px;
        left:75px;
        border:0px solid black;
        color:white;
        font-size: 40px;
        padding: 19px 30px;
        border-radius:10px;
        height: 80px;
        width: 430px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    input[type=password]{
        position: absolute;
        background-color:#0deb15;
        border: 0px solid black;
        color:white;
        font-size: 40px;
        padding: 19px 30px;
        border-radius:10px;
        height: 80px;
        width: 430px;
        box-sizing: border-box;
        top:280px;
        left:75px;
        font-family: 'Roboto', sans-serif;
    }
    .forget_pass{
        color:red;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        top: 430px;
        right: 80px;
        cursor:pointer;
    }
    input[type=submit]{
        background-color:rgba(0, 0, 255, 0.718);
        position: absolute;
        top: 499px;        
        left: 73px;
        border: 0px solid black;
        color:white;
        font-size: 40px;
        padding: 19px 30px;
        border-radius:10px;
        height: 80px;
        width: 430px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        cursor:pointer;
    }
    .signup{
        color:black;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        top:640px;
        left:79px;
        cursor:pointer;
        text-decoration: none;
    }
    .choice{
        position: absolute;
        top:740px;
        left:270px;
        font-size: 30px;
    }
    .hori1{
        position: absolute;
        top:761px;
        left:0px;
        width:260px;
        border: 1.2px solid black;
    }
    .hori2{
        position: absolute;
        top:761px;
        right:0px;
        width:282px;
        border: 1.2px solid black;
    }
    .logo{
        position: absolute;
        top: 840px;
        left:180px;
        letter-spacing: 20px;
    }
}
